*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

body{
    background-image: url("https://d3e1m60ptf1oym.cloudfront.net/d7de27b3-c9fe-4f1b-a9f3-ca88750115f5/M28265-FR-01_uxga.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
}

.main{
    position: fixed;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(18, 21, 21, 0.793);
    display: flex;
    align-items: center;
    gap: 8vw;
}

.box{
    padding: 2%;
    box-shadow: 2px 2px 30px 1px rgba(0, 10, 1, 0.5);
    border-radius: 20px 20px 20px 20px;
    margin-left: 8vw;
    height: 25vw;
    width: 40%;
    background-color: rgb(24, 24, 18, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-size: 5vw;
    color: aliceblue;
}

.left > p{
    font-size: 1.8vw;
    font-weight: 50;
    font-style: italic;
    color: aliceblue;
}

span{
    color: rgb(209, 175, 51);
    text-decoration: underline;
}

button{
    padding: 1vw 1vw;
    border-radius: 2rem;
    font-size: 1.5vw;
    border: none;
    background-color: rgb(209, 175, 51);
    color: #070707;
    cursor: pointer;
}

button:hover{
    background-color: aliceblue;
    box-shadow: inset 0 0 0 2px rgb(209, 175, 51);
}

.right{
    padding: 2%;
    box-shadow: 2px 2px 30px 1px rgba(0, 10, 1, 0.5);
    border-radius: 20px 20px 20px 20px;
    margin-right: 8vw;
    max-height: 35vw;
    width: 40%;
    background-color: rgba(24, 24, 18, 0.3);
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
    justify-content: space-between;
    overflow: auto;
}



/* Hide scrollbar for Chrome, Safari and Opera */
.right::-webkit-scrollbar {
    display: none;
}

.right {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.head{
    font-size: 3.2vw;
    border-bottom: 2px solid white;
}

.pst{
    background-color: rgba(0, 10, 1, 0.5);
    padding: 2%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
}

.pst  h2{
    border-bottom: 1px solid aliceblue;
    font-size: 2.4vw;
    color: aliceblue;
}

.pst > p{
    color: aliceblue;
    text-decoration: none;
    font-size: 1.2vw;
}

.pst > div{
    display: flex;
    justify-content: center;
    gap: 4vw;
}

.pst > div > a > button{
    font-size: 1.2vw;
    width: 8vw;
    padding: 0.8vw 1vw;
    border-radius: 0%;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    padding: 1.6vw;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}